<div class="row">

  <div class="app-button">
    <a ui-sref="apps.messages" class="thumbnail">
      <span class="fa fa-paper-plane"></span>
      <h3>Messages</h3>
    </a>
  </div>

  <div class="app-button">
    <a ui-sref="apps.photos" class="thumbnail">
      <span class="fa fa-image"></span>
      <h3>Photos</h3>
    </a>
  </div>

  <div class="app-button">
    <a ui-sref="apps.files" class="thumbnail">
      <span class="fa fa-file"></span>
      <h3>Files</h3>
    </a>
  </div>

</div>
